@page "/"
@inject IQuestionService QuestionService

<h3>Questions</h3>

@if (Questions.Count == 0)
{
    <span>It's Empty!</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Single Choice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var q in Questions)
            {
                <tr>
                    <td>@q.Id</td>
                    <td>@q.Text</td>
                    <td>@q.SingleChoice</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    [Parameter]public List<Question> Questions { get; set; } = new List<Question>();
    protected override async Task OnInitializedAsync()
    {
        Questions = await QuestionService.GetQuestions();
    }
}
