@page "/"
@inject IPollService PollService
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<h3>Polls</h3>

@if (Polls.Count == 0)
{
    <span>It's Empty!</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Poll Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Polls)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td><button class="btn btn-primary" @onclick="()=>StartPoll(p)">Start</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    
    [Parameter] public List<Poll> Polls { get; set; } = new List<Poll>();
    
    private HubConnection hubConnection;
    
    protected override async Task OnInitializedAsync()
    {
        Polls = await PollService.GetPolls();
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/pollhub"))
            .Build();
        await hubConnection.StartAsync();
    }

    private async Task StartPoll(Poll poll)
    {
        await hubConnection.SendAsync("SendPoll", poll);
        NavigationManager.NavigateTo($"/pollcontrol");
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }


}
