@page "/"
@inject IPollService PollService

<h3>Polls</h3>

@if (Polls.Count == 0)
{
    <span>It's Empty!</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Poll Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Polls)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    [Parameter]public List<Poll> Polls { get; set; } = new List<Poll>();
    protected override async Task OnInitializedAsync()
    {
        Polls = await PollService.GetPolls();
    }
}
