@page "/pollcontrol"
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
@if (Poll is null)
{
    <p>loading...</p>
}
else
{
    <h1>Poll: @Poll.Name</h1>
    <hr />
    <h1>Question:@Poll.Questions.ElementAt(_currentQuestionIdx).Text </h1>
    <h3>Remaing questions: @_remainingNumberOfQuestions</h3>
    <button type="button" class="btn btn-primary" @onclick="GetNextQuestion">NEXT!</button>
}
@code {
    private HubConnection hubConnection;

    public Poll Poll { get; set; }

    private int _currentQuestionIdx;

    private int _remainingNumberOfQuestions;

    private bool _isShowingResult;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/pollhub"))
            .Build();

        hubConnection.On<Poll, int>("ReceivePoll", (poll, currentQuestionIdx) =>
        {
            _isShowingResult = false;
            Poll = poll;
            _currentQuestionIdx = currentQuestionIdx;
            _remainingNumberOfQuestions = poll.Questions.Count() - 1 - currentQuestionIdx;
            StateHasChanged();
        });
        await hubConnection.StartAsync();
    }

    public async Task GetNextQuestion()
    {
        if (_isShowingResult)
        {
            if (_currentQuestionIdx + 1 < Poll.Questions.Count)
            {
                await hubConnection.SendAsync("GetNextQuestion");
                _remainingNumberOfQuestions--;
                _currentQuestionIdx++;
                _isShowingResult = !_isShowingResult;
            }
            else
            {
                NavigationManager.NavigateTo("/");
            }
        }
        else
        {
            await hubConnection.SendAsync("ShowResult");
            _isShowingResult = !_isShowingResult;
        }
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
