@page "/vote"
@implements IAsyncDisposable
@inject NavigationManager NavigationManager

@if (Question is null)
{
    <p>No question here....</p>
}
else
{
    <h1>@Question.Text</h1>
}

@code {

    private HubConnection hubConnection;

    public Question Question { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/pollhub"))
            .Build();

        hubConnection.On<Question>("ReceiveQuestion", (question) =>
        {
            Question = question;

            StateHasChanged();
        });
        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
