<h1>@Title</h1>
<hr />

<EditForm Model="Poll" OnSubmit="HandleSubmit">
    <div class="mb-5 col-5">
        <label class="form-label font-weight-bold">Poll Name</label>
        <input @bind="Poll.Name" class="form-control" />
    </div>
    <Dropzone Context="questionContext" Items="Questions" TItem="Question" OnItemDrop=ReCalculateQuestionOrders>
        <QuestionInput Question="@questionContext" OnQuestionInputChange="AddNewQuestion"></QuestionInput>
    </Dropzone>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
<hr />

@code {
    [Parameter] public EventCallback HandleSubmit { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public Poll Poll { get; set; }
    [Parameter] public List<Question> Questions { get; set; }

    protected override void OnParametersSet()
    {
        foreach(var q in Questions)
        {
            if (q.Answers.ToList()[q.Answers.Count - 1].Text != "")
            {
                q.Answers.Add(new Answer());
            }
        }
        AddNewQuestion();
    }

    private void AddNewQuestion()
    {
        if (Questions.Count == 0)
        {
            return;
        }
        if (Questions[Questions.Count - 1].Text != "")
        {
            Questions.Add(new Question());
            Questions[Questions.Count - 1].Order = Questions.Count;
            Questions[Questions.Count - 1].Answers = new List<Answer>();
            Questions[Questions.Count - 1].Answers.Add(new Answer());
        }
    }

    private void ReCalculateQuestionOrders()
    {
        for(int i = 0; i < Questions.Count; i++)
        {
            Questions[i].Order = i + 1;
        }
    }

}